h3 {
    color: black;
    background-color: gold;
    width: 400px;
}

.typing-input {
    font-size: 20px;
    padding-left: 5px;
}

.typing-span {
    font-size: 20px;
    color: white;
    font-weight: 500;
}

.typing-h3 {
    padding: 2px;
    text-align: center;
}