<div class="p-2">

    <br>
    <b class="typing-span">Enter Text : </b>
    <input class="typing-input" type="text" maxlength="10" [(ngModel)]=name/>
    <br>
    <br>
    <b class="typing-span">Your Text</b>
    <h3 class="typing-h3">{{ name }}</h3>
    <b class="typing-span">Lowercase</b>
    <h3 class="typing-h3">{{ name | lowercase }}</h3>
    <b class="typing-span">Uppercase</b>
    <h3 class="typing-h3">{{ name | uppercase }}</h3>

</div>

<br>
<hr>
<br>

<div class="P-2">
    <br>
    <b class="typing-span">Enter Number (x) : </b>
    <input class="typing-input" type="number" [(ngModel)]="number1">
    <br>
    <br>
    <b class="typing-span">Enter Number (y) : </b>
    <input class="typing-input" type="number" [(ngModel)]="number2">
    <br>
    <br>
    <b class="typing-span">Sum</b>
    <h3 class="typing-h3">{{ number1 + number2 }}</h3>
    <b class="typing-span">Subtraction</b>
    <h3 class="typing-h3">{{ number1 - number2 }}</h3>
    <b class="typing-span">Multiplication</b>
    <h3 class="typing-h3">{{ number1 * number2 }}</h3>
    <b class="typing-span">Division</b>
    <h3 class="typing-h3">{{ number1 / number2 }}</h3>
</div>

<br>
<hr>
<br>

<b class="typing-span">Array</b>
<div>
    <h3 *ngFor="let item of fullNames">{{ item }}</h3>
</div>

<br>
<hr>
<br>

<b class="typing-span">How Many User : </b>
<input class="typing-input" type="text" [(ngModel)]="usernameCount" disabled>
<br>
<br>
<div>
    <h3 *ngFor=" let item of usernames ">{{ item }}</h3>
</div>

<br>
<hr>

<div class="p-2">

    <b class="from-check-label typing-span">Show Array</b>
    <input class="form-check-input typing-checkbox" type="checkbox" [(ngModel)]="display">
    <div *ngIf="display">
        <br>
        <h3 *ngFor="let item of fullNames">{{ item }}</h3>
    </div>
</div>

<hr>

<div class="p-2">
    <b class="from-check-label typing-span">Hide Array</b>
    <input class="form-check-input typing-checkbox" type="checkbox" [(ngModel)]="hide">
    <div [hidden]="!hide">
        <br>
        <h3 *ngFor="let item of fullNames">{{ item }}</h3>
    </div>
</div>

<hr>

<div class="p-2">
    <b class="typing-span">Person</b>
    <br>
    <br>
    <b class="typing-span">Active</b>
    <input class="form-check-input typing-checkbox" type="checkbox" [(ngModel)]="person.active" disabled>
    <br>
    <br>
    <b class="typing-span">Id</b>
    <h3 class="typing-h3">{{person.id}}</h3>
    <b class="typing-span">FullName</b>
    <h3 class="typing-h3">{{person.fullName}}</h3>
    <b class="typing-span">Age</b>
    <h3 class="typing-h3">{{person.age}}</h3>
    <b class="typing-span">EmailAddress</b>
    <h3 class="typing-h3">{{person.emailAddress}}</h3>
</div>

<hr>

<div class="p-2">
    <b class="p-1 typing-span"> Show Alert</b>
    <button class="btn btn-warning" type="button" (click)=onClick()>Click Me !</button>
</div>

<hr>

<b class="typing-span">Users</b>

<br>
<br>

<ul *ngFor="let item of user;">
    <li>
        Username : {{ item.username }} | Password : {{ item.password }}
    </li>
</ul>

<hr>

<b class="typing-span">Cars</b>
<br>
<br>
<ul *ngFor="let item of car;">
    <button type="button" (click)=details(item)>Details {{item.codeNumber}}</button>
    <li>
        Name: {{ item.name }} | Color : {{ item.color }}
    </li>
</ul>

<br>
<ul>
    <b class="typing-span">Show Details</b>
    <li id="div"></li>
</ul>

<hr>

<b class="typing-span">Person DropDown</b>

<br>
<br>

<div class="col-6">
    <select class="form-select form-select mb-1" [(ngModel)]="selectNumbers">
        <option [ngValue]="null" >Select an item</option>
        <hr>
        <option *ngFor="let item of numbers" [ngValue]="item" >Item : {{ item }}</option>
    </select>
</div>

<br>

<b class="typing-span">User DropDown</b>

<br>
<hr>
<br>

<div class="col-6">
    <select class="form-select form-select mb-1" [(ngModel)]="selectUsers">
        <option [ngValue]="null" >Select an item</option>
        <hr>
        <option *ngFor="let item of user" [ngValue]="item" >Username : {{ item?.username }}</option>
        <hr>
        <option *ngFor="let item of user" [ngValue]="undefined" >Password : {{ item }}</option>
    </select>
    <br>
    <h3 *ngIf=" selectUsers === null ">The Selected User is absolutely [Null] !</h3>
    <h3 *ngIf=" selectUsers != null ">The Selected User is absolutely [Not Null] !</h3>
    <h3 *ngIf=" selectUsers === undefined ">The Selected User is absolutely [undefined] !</h3>
</div>

<br>
<hr>

<b class="typing-span">ng-container</b>
<br>
<br>
<div class="p-2 text-light">
    <ng-container>{{person?.fullName}}</ng-container>
</div>

<br>
<hr>